body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}
.font-800{
    font-weight: 800;
}
.head-container{
    display: flex;
    z-index: -1;
}
.head-div{
    width:54%;
    margin:9% 3% 0% 7.5%;
}
.hero-h1{
    font-size: 48px;
line-height: 120%;
letter-spacing: -0.02em;
color: #071D49;
}
.hero-p{
    font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
color: #071D49;
}
.hero-btn{
    font-size: 16px;
    color:#FFFFFF;
    background-color:#254AA0;
    border: none;
    padding: 12px 6px;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
}
.head-img{
    width:75%;
}

@media screen and (max-width: 770px){ 
    .hero-h1{
        font-size: 32px;
    }    
    .head-img{
        width:60%
    }
}

@media screen and (max-width:420px){
    .head-container{
        display: flex;
        flex-direction: column;
    }
    .head-div{
        width: 80%;
        margin: 0% 5%;
    }
    .head-img{
        width:100%
    }
}

.first-gradient{
    background: linear-gradient(180deg, #3BBFB5 0%, #254AA0 53.02%);
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
padding: 7% 30% 6% 14%;
margin-top: -10%;
z-index: 999;
border-radius: 0px 120px 0px 120px;
color: #FFFFFF ;
}
.first-gradient h2{
    font-weight: 800;
    font-size: 32px;
    line-height: 141.9%;
    font-size: 32px ;
}
.first-gradient p{
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 770px) {
    .first-gradient h2{
        font-weight: 700;
        font-size: 24px;
    }
    .first-gradient p{
        font-size: 14px;
    }
    .first-gradient{
    padding: 7% 16% 6% 14%;
    }
   
}
@media screen and (max-width:420px){
    .first-gradient{
        padding: 15% 25% 6% 14%;
        border-radius: 0px 80px 0px 80px;
    }
}
.solution-container{
    margin: 5% 7% 5% 7%;
}
.solution-head{
    display: flex;
    justify-content: center;
}
.solution-head h1{
    font-weight: 700;
    size: 40px;
    line-height: 48px;
    color:#071D49;
}
.solution-head img{
    display: none;
}
.solution-body{
    display: flex;
}
.solution-col1{
    border-left: 1px solid #6CACE4;
    padding: 2% 14% 0% 2%;
}
.solution-body h6{
    margin-bottom: 10%;
}
.solution-col1 p{
    font-weight: 500;
    font-size: 16px;
    color: #254AA0;
}
.solution-col2{
    width: 22%;
    background: linear-gradient(215.02deg, #3BBFB5 50.57%, #99CC33 76.83%, #6CACE4 100%);
    border-radius: 120px 4px;
}
.solution-col3{
    width:38%;
    font-weight: 400;
    font-size: 12px;
    padding: 3% 0% 0% 6%;
}
.solution-col3 h5{
    font-weight: 600;
    font-size: 20px;
}
.solution-col3 p{
    width: 114%;
}
.solution-btn{
    border: none;
    background: #254AA0;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 12px 16px;
}
.solution-btn-div{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 770px) {
    .solution-head{
        justify-content: space-between;
        padding-left: 6%;
    }
    .solution-head img{
        display: block;
        width: 218px;
    }
    .solution-col1{
        display: none;
    }
    .solution-col2{
        width:30%;
        border-radius: 80px 0px 80px 4px;
    }
    .solution-head h1{
        font-size: 24px;
    }
    .solution-col3 h5{
        font-weight: 700;
        font-size: 18px;
    }
    .solution-col3{
        width:60%;
        padding: 6% 0% 0% 7%;
    }
    .solution-col3 p{
        width: 103%;
    }
}
@media screen and (max-width:420px) {
    .solution-body{
        display: flex;
        flex-direction: column;
    }
    .solution-head{
        flex-direction: column;
        margin-left: 0%;
    }
    .solution-col2{
        width: 100%;
    }
    .solution-col3{
        width: 100%;
        padding: 5%;
    }
    .solution-container{
        margin: 5%;
    }
    .solution-col2{
        margin:7% 0% 7% 4%;
    }
}

/* standerd container */

.standerd-container{
    background: linear-gradient(169.48deg, #254AA0 6.49%, #7355C0 90.04%);
    border-radius: 120px 0px 120px 0px;
    color: #FFFFFF;
}
.standerd-body{
    display: flex;
    margin-top: 2%;
}
.standerd-head{
    margin-left: 7%;
    padding-top: 7%;
}
.standerd-head h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
}
.standerd-head p{
    font-weight: 500;
    font-size: 16px;
}
.standerd-left-img{
    width: 85%;
}
.standerd-div-h5{
    font-weight: 600;
font-size: 20px;
line-height: 150.9%;
}
.standerd-div-p{
    font-weight: 400;
font-size: 12px;
line-height: 160.9%;
}
.standerd-right{
    width: 80%;
    margin-right: 16%;
    display: flex;
    flex-direction: column;
    gap: 7%;
}
.standerd-left-first{
    width:65%;
    margin-left: 13%;
    margin-bottom: 5%;
}

@media screen and (max-width: 770px) {
    .standerd-container{
        padding-top: 7%;
    }
    .standerd-body{
        display: flex;
        flex-direction: column;
    }
    .standerd-head{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5%;
    }
    .standerd-head p{
        width:70%
    }
    .standerd-head h1{
        font-size: 24px;
    }
    .standerd-right{
        margin-left: 10%;
        width: 72%;
    }
    .standerd-left-first{
        margin-left: 10%;
        margin-bottom: 5%;
        width: 72%;
    }
    .standerd-right >div{
        margin-bottom: 5%;
    }
}

@media screen and (max-width:420px){
    .standerd-right{
        width: 68%;
    }
    .standerd-left-first{
        width:67%
    }
    .standerd-head p{
        width:83%
    }
}

/* checklist */

.checklist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
.checklist h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #071D49;
}
.checklist button{
    border: none;
    background: #254AA0;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 12px 16px;
}

/* innovation */

.innovation-container{
    background: linear-gradient(360deg, #E2EFFA 0%, #DCF3F0 72.92%);
    border-radius: 120px 0px 120px 0px;
    font-weight: 600;
font-size: 18px;
    line-height: 150.9%;
    color: #071D49;
}
.innovation-body{
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.innovation-head{
    display: flex;
    justify-content: space-between;
}
.innovation-head h1{
    font-weight: 700;
font-size: 40px;
color: #071D49;
width: 439px;
}
.innovation-head-div{
    display: flex;
}
.innovation-head-div p{
    font-weight: 600;
font-size: 24px;
}
.innovation-number{
    display: flex;
    justify-content: space-between;
}
.innovation-first{
    display: flex;
}
.innovation-second{
    display: flex;
}
.innovation-one{
    width:285px
}
.innovation-two{
    width:232px
}
.innovation-three{
    width:217px
}
.innovation-four{
    width:255px
}

@media screen and (max-width: 770px){
    .innovation-head-div{
        display: flex;
        flex-direction: column;
    }  
    .innovation-head h1{
    font-size: 24px;
    width: 243px;
    } 
    .innovation-container{
        font-size: 22px;
    }
    .innovation-number{
        overflow: auto;
    }
}